{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Sign in') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>
        {{ _('New User?') }}
        <a href="{{ url_for('auth.register') }}">{{ _('Click to register') }}</a></p>
    <p>
        {{ _('Forgot your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to reset') }}</a>
    </p>
{% endblock %}
