{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('An unexpected error has occurred') }}</h1>
    <p>{{ _('The admin has been notified. Sorry for the inconvenience!') }}</p>
    <p><a href="{{ url_for('main.index') }}">{{ _('To homepage') }}</a></p>

{% endblock %}
