{% extends "base.html" %}

{% block app_content %}
    <h1>{{ _('Messages') }}</h1>
    {# Uses the post logic: recipient is the only extra, which is always the same, thus not rendered #}
    {% for post in messages %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not previous_url %} disabled{% endif %}">
                <a href="{{ previous_url or '#' }}">
                    <span aria-hidden="true">
                        &larr;
                    </span>
                    {{ _('Newer messages') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older messages') }}
                    <span aria-hidden="true">
                        &rarr;
                    </span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
